.main-header {

  background: url(../../img/build/headerimage.jpg) center top no-repeat;
  background-size: cover;
  @include bp(beta) {
    background-position: left top;
  }

  h1 {
    @include image-replacement-text;
    background: url(../../img/build/forum_logo.png) left top no-repeat;
    width: 135px;
    height: 106px;
    background-size: 80%;
    margin: 0;
    @include bp(beta) {
      margin: .67em 0;
      position: relative;
      top: 20px;
      background-size: 100%;
    }
  }

  h2 {
    color: $white;
    @include font(header);
    margin-top: .5rem;
    @include bp(beta) {
      margin-top: 5rem;
    }
  }

  p {
    color: $olive-green;
    margin-top: 2rem;
    line-height: 2.25;
  }

  h2, p {
    max-width: 45rem;
    @include bp(beta) {
      margin-left: 7rem;
      margin-right: 1rem;
    }
  }
}


