nav {

  position: absolute;
  top: 2em;
  right: 2em;
  width: 70%;
  text-align: right;

  select {
    @include bp(beta) {
      display: none;
    }
  }

  ul {
    padding: $pad/2 0;
    margin: 0 5%;
    display: none;
    @include bp(beta) {
      display: block;
    }

    li {
      display: inline-block;
      padding: .4rem 0; 
      margin-right: 2em;

      a {
        color: $white;
        @include font(header);
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
      .current {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
