.contact {
  
  h3 {
    @include font-size(2);
    @include font(header);
    text-align: center;
    color: white;
  }

  fieldset {
    width: 80%;
    @include bp(gamma) {
      width: 30em;
    }
    margin: 0 auto;
  }

  input {
    width: 100%;
    margin-bottom: 2em;
    line-height: 2;
  }

  textarea {
    width: 100%;
    margin-bottom: 2em;
  }

  input[type=submit] {
    width: 125px;
    display: block;
    margin: 0 auto;
    background: $olive-green;
    @include font(header);
    color: white;
    text-transform: uppercase;
  }

  label {
    color: white;
    @include font-size(.9);
  }

  .main-section {

    h3 {
      @include font(body-bold);
      @include font-size(1);
      color: $dark-green-text;
      text-align: left;
      margin-bottom: .1em;
    }

    p {
      margin-top: .1em;
      margin-bottom: .1em;
    }
  }

  .info-box-wrap1 {
    width: 80%;
    @include bp(gamma) {
      width: 30em;
    }
    margin: 0 auto;

    iframe {
      margin-top: 1.75em;
      width: 100%;
    }
  }

  .confirmation {
    text-align: center;
    color: white;
    @include font-size(1.25);
    margin-top: 5em;
    @include bp(gamma) {
      margin-top: 10em;
    }
    
  }
}